.nav-bar {
    position: fixed;
    width: 100%;
    background-color: rgba(184, 184, 184, 0.4);
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

.logoNavBar {
    height: 60px;
    top: 10px;
}